{
	"DbHost": "localhost",
	"DbName": "",
	"DbUsername": "",
	"DbPassword": "",
	"DbPort": "3306",

	"UrlService": "http://short.ext",
	"UrlFallback": "http://long-domain-name.ext",

	"ApplicationPort": "8080",

		"MaximalRequest": 10
}
